<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <header>
        <div class="wrapper">
            <h1>Dojo Survey</h1>
        </div>
    </header>

    <div class="wrapper">
        <form action="result" class="flex-col"  method="POST">
            <label>Full Name:</label>
            <input type="text" name="FullName">
            <label>Dojo Location:</label>
            <select name="Location">
                <option value="Seattle">Seattle</option>
                <option value="Orange County">Orange County</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Dallas">Dallas</option>
                <option value="San Jose">San Jose</option>
                <option value="Tulsa">Tulsa</option>
                <option value="Oakland">Oakland</option>
                <option value="Boise">Boise</option>
                <option value="Chicago">Chicago</option>
            </select>
            <label>Favorite Language:</label>
            <select name="Language">
                <option value="React">React</option>
                <option value="CSS">CSS</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Flask">Flask</option>
                <option value="Python">Python</option>
                <option value="Vue">Vue</option>
                <option value="C#">C#</option>
                <option value=".Net">ASP.NET</option>
            </select>
            <textarea name="Comment" placeholder="Comment (optional)"></textarea>
            <input type="submit" class="btn"  value="Submit">
        </form>
    </div>

</body>
</html>