<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <header>
        <div class="wrapper">
            <h1>Dojo Survey</h1>
        </div>
    </header>

    <div class="wrapper form-results">
        <h2>Form submission</h2>
        <p>Name: @ViewBag.FullName</p>
        <p>Dojo Location: @ViewBag.Location</p>
        <p>Favorite Language: @ViewBag.Language</p>
        <p>Comment: @ViewBag.Comment</p>

        <a href="/">Go back</a>
    </div>
</body>
</html>