<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <div class="wrapper flex">
            <div class="logo">
                <h1>Portfolio II</h1>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <h2>About Me</h2>

    <section id="main" class="flex wrapper">

        <div class="self-pic">
            <img src="https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1211&q=80" class="pic">
            <p>Rolando L.</p>
            <p>I love coding</p>
        </div>
        <div class="text">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil accusamus odio in reiciendis at iste optio laboriosam non debitis? Voluptatem, ipsam ratione dolor optio neque, commodi est ex consequatur corporis harum, blanditiis quas hic ullam omnis. Totam voluptatem itaque minima repellendus qui corporis necessitatibus quam! A quibusdam quas incidunt vel. Perspiciatis quibusdam similique quam. Maxime vel repellat, fuga odit minima aliquam dicta dolorem voluptates earum ea veritatis, quae in mollitia, natus tempore! Quia dolore cupiditate neque et tempora consequuntur repudiandae aliquid cumque sequi quasi error, recusandae inventore accusamus voluptatem ratione doloremque distinctio, facilis aut accusantium! Tempore id ex ducimus voluptatibus!</p>
        </div>
    </section>
</body>
</html>