<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <header>
        <div class="wrapper flex">
            <div class="logo">
                <h1>Portfolio II</h1>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <h2>Here are some of my projects</h2>

    <section id="projects" class="wrapper">
        <div class="project">
            <img src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80" class="pic">
        </div>
        <div class="project">
            <img src="https://images.unsplash.com/photo-1518481335010-06c24f4626de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80" class="pic">
        </div>
        <div class="project">
            <img src="https://images.unsplash.com/photo-1522791786121-a54e01e549c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2698&q=80" class="pic">
        </div>
        <div class="project">
            <img src="https://images.unsplash.com/photo-1525022404438-91321710652d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2666&q=80" class="pic">
        </div>
        <div class="project">
            <img src="https://images.unsplash.com/photo-1531403009284-440f080d1e12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80" class="pic">
        </div>
        <div class="project">
            <img src="https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80" class="pic">
        </div>
        <div class="project">
            <img src="https://images.unsplash.com/photo-1507099985932-87a4520ed1d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80" class="pic">
        </div>
        <div class="project">
            <img src="https://images.unsplash.com/photo-1570215171424-f74325192b55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80" class="pic">
        </div>
        <div class="project">
            <img src="https://images.unsplash.com/photo-1574175679306-4c5f33146b6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2702&q=80" class="pic">
        </div>
        <div class="project">
            <img src="https://images.unsplash.com/photo-1492551557933-34265f7af79e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80" class="pic">
        </div>
        <div class="project">
            <img src="https://images.unsplash.com/photo-1464699908537-0954e50791ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2702&q=80" class="pic">
        </div>
        <div class="project">
            <img src="https://images.unsplash.com/photo-1496889050590-4db81f7fb62a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80" class="pic">
        </div>
        <div class="project">
            <img src="https://images.unsplash.com/photo-1555131930-762d492c3d7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80" class="pic">
        </div>
        <div class="project">
            <img src="https://images.unsplash.com/photo-1504941616455-d74840d6cee2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3887&q=80" class="pic">
        </div>
    </section>

</body>
</html>