/* FOR THE LIBRARY */
.libraryHead{
    margin-bottom: 5.5rem;
}
#addMovie{
    display: inline-block;
    width: 8%;
    background-color: #FFC054;
    border: 1px solid #FFC054;
    padding: 2px 0;
    border-radius: 30px;
    color: #1E141B;
    text-align: center;
    margin-bottom: 1.25rem;
    transition: all 0.7s;
}
#addMovie:hover{
    background-color: transparent;
    color: #FFC054;
    cursor: pointer;
    transition: all 0.3s;
}
#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 3;
    visibility: hidden;
    transition: all 0.5s;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
}
#modal #modal-content{
    top: 110%;
    left: 0;
    background-color: #251D26;
    height: auto;
    width: 55%;
    padding: 1rem 2.5rem;
    transition: all 0.3s;
}
#modal #modal-content #closeBtn{
    font-size: 3rem;
    display: block;
    text-align: right;
    transition: all 0.7s;
}
#modal #modal-content #closeBtn:hover{
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}



.libBody{
    display: flex;
    justify-content: space-between;
    height: 900px;
    margin-bottom: 3rem;
}
.libCol{
    width: 49%;
    padding: 3rem 0;
    background-color: #251D26;
    /* box-shadow: 7px 7px 10px #110B0F; */
}

/* MOVIE TABLE */
.movies{
    height: 100%;
    overflow-y: scroll;
}
.movies table{
    width: 100%;
    border: 0;
    border-collapse: collapse;
}
.movies table tr th{
    height: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.movies table tr:nth-child(even){
    background-color: #1E141B;
}
.movies table tr td{
    text-align: center;
    height: 2.85rem;
}
.movies .movie-name{
    color: #fff;
    letter-spacing: 1px;
    background-color: transparent;
    font-size: 1rem;
    font-family: 'Open Sans Condensed', serif;
    border: 0;
    outline: 0;
    transition: all 0.7s;
}
.movies .movie-name:hover{
    color: #FFC054;
    cursor: pointer;
    transition: color 0.3s;
}


/* MOVIE DETAILS */
#movieInfo{
    display: none;
    transition: all 0.3s ease-in;
    overflow-y: scroll;
}
.pic{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
.movie{
    display: flex;
    justify-content: space-between;
}
#poster{
    width: 50%;
}
#details > *{
    margin-bottom: 5px;
}
#details{
    width: 45%;
    padding-right: 5px;
}