.appHead{
    margin-bottom: 7rem;
}
.headerTitle{
    font-size: 2.5rem;
    letter-spacing: 4px;
}
.flex-col{
    display: flex;
    flex-direction: column;
}

.appBody{
    display: flex;
    justify-content: center;
    align-content: center;
}
.form-box{
 width: 65%;
 height: auto;
 background-color: #251D26;
}
.error{
    color: #fff;
    letter-spacing: 2px;
}

/* FORM */
form>*{
    margin-bottom: 10px;
}
form{
    padding: 30px 45px 40px 45px;
    width: 100%;
    font-size: 1.25rem;
}
form input,
form textarea{
    outline: 0;
    border: 2px solid #FFC054;
    background-color: transparent;
    font-size: 1.25rem;
    color: #FFC054;
    padding-left: 3px;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: all 0.7s;
}
form input:hover,
form textarea:hover,
form input:focus,
form textarea:focus{
    background-color: #1E141B;
    transition: all 0.3s;
}
form input{
    height: 2rem;
}
form textarea{
    height: 5rem;
}
form .btn{
    width: 35%;
    background-color: #FFC054;
    color: #251D26;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    border-radius: 30px;
    margin: 1rem auto 0 auto;
    transition: all 0.7s;
}
form .btn:hover,
form .btn:focus{
    background-color: #251D26;
    color: #FFC054;
    cursor: pointer;
    transition: all 0.3s;
}
.form-link{
    margin: 1rem auto 0 auto;
    display: inline-block;
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: all 0.7s;
}
.form-link:hover,
.form-link:focus{
    color: #FFC054;
    border-color: #FFC054;
    transition: all 0.3s;
}

