@model User
<header>
    <div class="wrapper">
        <h1>Validating a Form</h1>
        <h4>You have registered</h4>
    </div>
</header>

<div class="wrapper">
    <p>Name: @Model.FirstName</p>
    <p>Last name: @Model.LastName</p>
    <p>Age: @Model.Age</p>
    <p>Email address: @Model.Email</p>
</div>

