@section Landing{
    <link rel="stylesheet" href="~/css/Landing.css">
}

<header>
    <div class="wrapper mainHead">
        <div class="title">
             <a asp-action="Index" asp-controller="Home">
                <h1 class="second-font logo">MovieQuest</h1>
            </a>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a asp-action="LogPage" asp-controller="Home">Login</a>
                </li>
                <li>
                    <a asp-action="RegPage" asp-controller="Home" class="reg">Register</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<section id="banner">
    <div class="wrapper">
        <div class="banner-text">
            <h1>On a MovieQuest</h1>
            <p>Check out movie reviews before watching it.
            Can't find your movie, please create it and start reviewing.</p>
            <div class="banner-links">
                <ul>
                    <li>
                        <a asp-action="Library" asp-controller="Home" class="banner-btn">Begin Quest</a>
                    </li>
                    <li>
                        <a asp-action="RegPage" asp-controller="Home" class="banner-btn">Create Movie</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>