*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;    /* Don't forget to change the typeface */
}
header{
    padding: 1.5em 0;
    margin-bottom: 5em;
}
h3{
    margin-bottom: 2em;
}
a{
    text-decoration: none;
    color: cornflowerblue;
    font-weight: bold;
    transition: all 0.7s ease-out;
}
a:hover{
    color: darkblue;
    transition: color 0.3s ease-in;
}
ul li{
    list-style: none;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
.bold{
    font-weight: bold;
}
.flex{    /* Ex. Navigation */
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.flex-center{    /* Ex. Banner, right smack in the center */
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col{    /* Ex. Columns */
    display: flex;
    flex-direction: column;
}
.red{
    color: firebrick;
}

form>*{
    margin-bottom: 12px;
}
form{
    width: 40%;
}
form input{
    height: 1.5rem;
}
form textarea{
    height: 5rem;
}
form input,
input,
form textarea{
    border: 2px solid #000;
    outline: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
}
.btn{
    background-color: #000;
    color: #fff;
    transition: all 0.7s;
}
.btn:hover{
    color: #000;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
}

table th{
    padding-right: 2em;
}


