@model Chef

<header>
    <div class="wrapper flex">
        <div class="title">
            <h1>Add a Chef</h1>
        </div>
        <div class="link">
            <a href="/">Home</a>
        </div>
    </div>
</header>

<div class="wrapper">
    <form asp-action="NewChef" asp-controller="ChefNDishes" class="flex-col" method="POST">
        <span asp-validation-for="FirstName"></span>
        <label asp-for="FirstName"></label>
        <input type="text" asp-for="FirstName">

        <span asp-validation-for="LastName"></span>
        <label asp-for="LastName"></label>
        <input type="text" asp-for="LastName">

        <span asp-validation-for="DateOfBirth"></span>
        <label asp-for="DateOfBirth"></label>
        <input type="date" asp-for="DateOfBirth">

        <input type="submit" class="btn" value="Add Chef">
    </form>
</div>