<header>
    <div class="wrapper">
        <h1 class="unique-font">Weddding Planner</h1>
        <h4>When planning becomes as simple as 1, 2, 3</h4>
    </div>
</header>

<div class="wrapper flex-split">
    <div class="col">
        <partial name="Register"/>
    </div>
    <div class="col">
        <partial name="Login"/>
    </div>
</div>